body,
html {
	height: 100%;
	margin: 0;
}

div {
	height: 100%;
	width: 100%;
	position: fixed;
	overflow-x: hidden;
	top: 0;
}

h1
{
	height: 100%;
	width: 100%;
	position: fixed;
	overflow-x: hidden;
	top: 0;
}
#dark {
	right: 0;
}

#dark canvas {
	background-color: MidnightBlue;
}
